.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar div {
    flex: 1;
    text-align: center;
}

.search-bar input {
    border: none;
    outline: none;
    text-align: center;
    background: transparent;
}

.search-bar input::placeholder {
    color: #aaa;
    font-size: 14px;
}

.search-bar .divider {
    width: 1px;
    height: 30px;
    background-color: #ddd;
}

.search-button {
    background-color: #0f952c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-button:hover {
    background-color: #d01a2c;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #fafafa;
    background-color: #fff;
}





        /* Media Queries for Responsiveness */
        @media (max-width: 768px) {

            .header {
                text-align: center;
            }

            .logo {
                margin-bottom: 20px;
            }

            .search-bar {
                flex-direction: column;
                padding: 15px;
            }

            .divider {
                display: none; 
            }

            .search-bar div {
                text-align: left; 
            }

            .search-bar label {
                font-size: 16px;
                margin-bottom: 5px;
            }

            .search-button {
                margin-top: 10px;
                align-self: center;
            }

        }

        @media (min-width: 769px) {
            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .search-bar {
                flex-direction: row;
            }
        }



        /* house card */

        .card-house{
            padding: .5em .5em .5em;
            text-align: left;
            border-radius: 2em;
            box-shadow: none;
        }

        .card-house img {
            width: 100%;
            border-radius: 15px;
            width: 300px;
            height: 200px;
        }

        .card-house h5{
            font-weight: bold;
        }

.card-space {
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 15px;
} 